<div class="container">
  <h1>Films</h1>
  <div class="cards">
  </div>
  <ul>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %></li>
  <% end %>
</ul>
<%= link_to "Add List", new_list_path %>
</div>
